[submodule "themes/minima"]
	path = themes/minima
	url = https://github.com/mivinci/hugo-theme-minima.git
[submodule "themes/minima_my_fork"]
	path = themes/minima_my_fork
	url = https://github.com/foresle/hugo-theme-minima
